/* RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  /* 2. Remove default margin */
  margin: 0;
  /* 3. Add accessible line-height */
  line-height: calc(1em + 0.5rem);
}

/* 4. Improve text rendering */
body {
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  /* display: block; */
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


/* CSS */

 
.container * {
  text-wrap: nowrap;
  color: #081a28;
}

html, body {
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif, system-ui;
  /* min-width: 630px; */
}

p {
  margin: 0 5px ;
}

.container {
  height: 100dvh;
  display: grid;
  grid-template: 1fr 5fr / minmax(165px, 1fr) 4fr;
}

#dashboard {
  background-color: #ca8fd0;
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 5%;
}

/* .dashboard-section {
} */

.dashboard-section:first-child div {
  font-size: 1.2em;
}

.dashboard-item {
  display: flex;
  gap: 5px;
}

img {
  width: 20px;
}

#header {
  background-color: #faecfd;
  box-shadow: 5px 5px 5px #0f0f0f;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

#header * {
  align-self: center;
}

#header-buttons-container {
  align-self: end;
}

#header button {
  color: white;
  background-color: #ca8fd0;
  border-radius: 20px;
  border: none;
  margin: 0 5px;
  padding: 5px 15px;
}

#header-top {
  display: grid;
  grid-template-columns: 1fr 8fr 5fr 1fr;
}

#header-top-right {
  display: flex;
  gap: 10px;
  justify-content: end;
}

#header-top img {
  justify-self: center;
}

#header-top input {
  margin-right: 20%;
  border-radius: 20px;
  border: 2px solid lightgray;
  height: 100%
}

#header-bottom {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

#profile-greeting {
  display: grid;
  grid: 30px 30px / 85px 255px;
}

#profile-greeting img {
  grid-area: 1 / 1 / 3 / 2;
  height: 100%;
  width: 100%;
}

#profile-greeting p:first-of-type {
  grid-area: 1 / 2 / 2 / 3;
  align-self: end;
}

#profile-greeting p:nth-of-type(2) {
  grid-area: 2 / 2 / 3 / 3;
  align-self: start;
  font-size: 20px;
}

#body {
  background-color: rgb(236, 231, 243);
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  align-items: start;
}

#body * {
  text-wrap: wrap;
}

#projects-container {
  grid-area: 1 / 1 / 3 / 2;
  height: 70dvh;
}

#projects {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 15px;
  margin: 10px;
  
}

.project {
  background-color: #fefcff;
  border-left: 7px solid orange;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-buttons {
  align-self: flex-end;
  margin-right: 15px;
}
.project-text {
  font-size: 12px;
  margin: 10px 0;
}

#announcements-container {
  grid-area: 1 / 2 / 2 / 3;
}

#announcements {
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
  background-color: #fefcff;
}

#announcements div:nth-child(1), #announcements div:nth-child(2) {
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

#announcements div:nth-child(2), #announcements div:nth-child(3) {
  padding-top: 5px;
}

.announcement-name {
  font-size: 14px;
  font-weight: 600;
}

.announcement-text {
  font-size: 12px;
}

#trending-container {
  grid-area: 2 / 2 / 3 / 3;
  align-self: stretch;
}

#trending {
  height: 220px;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
  background-color: #fefcff;
  /* align-self: stretch; */
}

.trending-person {
  display: flex;
}

.trending-person img {
  width: 30px;
}